<launch>
  <arg name="rosbag" default="false" />
  <arg name="RGB_CAMERA_INFO" value="/kinect_head/rgb/camera_info" />

  <include file="$(find friedegg_generator)/launch/load_rosbag.launch" if="$(arg rosbag)">
      <arg name="bagname" value="pan_detect.bag"/>
  </include>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find friedegg_generator)/config/pan_detect.rviz"/>

  <node name="tf_transform_cloud"
          pkg="nodelet" type="nodelet"
          args="standalone jsk_pcl_utils/TfTransformCloud">
          <remap from="~input" to="kinect_head/depth_registered/points"/>
      <rosparam>
        target_frame_id: base_footprint
      </rosparam>
  </node>

  <node name="rects_to_cpi_ssd"
        pkg="jsk_recognition_utils" type="rect_array_to_cluster_point_indices.py"
        output="screen" >
    <remap from="~input" to="/edgetpu_object_detector/output/rects"/>
    <remap from="~input/info" to="$(arg RGB_CAMERA_INFO)"/>
    <rosparam>
      always_subscribe: true
      approximate_sync: true
      use_info: true
    </rosparam>
  </node>

  <node name="throttle_segmentation" pkg="nodelet" type="nodelet"
        args="standalone jsk_topic_tools/LightweightThrottle"
        output="screen">
      <remap from="~input" to="/rects_to_cpi_ssd/output" />
      <remap from="~output" to="/rects_to_cpi_ssd/output_throttle" />
  </node>

 <node name="segmentation_decomposer_ssd" pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposer"
        output="screen">
        <remap from="~input" to="/tf_transform_cloud/output"/>
        <remap from="~target" to="/rects_to_cpi_ssd/output_throttle" />
    <rosparam>
      align_boxes: true
      align_boxes_with_plane: false
      approximate_sync: true  
      target_frame_id: base_footprint
      queue_size: 100000
      publish_clouds: false
      sort_by: -cloud_size 
      use_pca: false
    </rosparam>
  </node>

  <!--node name="pan_finder" pkg="friedegg_generator" type="pan_finder.py"/-->

</launch>
