<launch>
  <arg name="rosbag" default="false" />
  <arg name="RGB_CAMERA_INFO" value="/kinect_head/rgb/camera_info" />

  <include file="$(find friedegg_generator)/launch/load_rosbag.launch" if="$(arg rosbag)">
      <arg name="bagname" value="pan_detect.bag"/>
  </include>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find friedegg_generator)/config/pan_detect.rviz"/>

  <node name="tf_transform_cloud"
          pkg="nodelet" type="nodelet"
          args="standalone jsk_pcl_utils/TfTransformCloud">
          <remap from="~input" to="kinect_head/depth_registered/points"/>
      <rosparam>
        target_frame_id: base_footprint
      </rosparam>
  </node>

  <node name="rects_to_cpi_ssd"
        pkg="jsk_recognition_utils" type="rect_array_to_cluster_point_indices.py"
        output="screen" >
    <remap from="~input" to="/edgetpu_object_detector/output/rects"/>
    <remap from="~input/info" to="$(arg RGB_CAMERA_INFO)"/>
    <rosparam>
      always_subscribe: true
      approximate_sync: true
      use_info: true
    </rosparam>
  </node>

  <node name="throttle_segmentation" pkg="nodelet" type="nodelet"
        args="standalone jsk_topic_tools/LightweightThrottle"
        output="screen">
      <remap from="~input" to="/rects_to_cpi_ssd/output" />
      <remap from="~output" to="/rects_to_cpi_ssd/output_throttle" />
  </node>

 <node name="segmentation_decomposer_ssd" pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposer"
        output="screen">
        <remap from="~input" to="/kinect_head/depth_registered/points" />
        <remap from="~target" to="/rects_to_cpi_ssd/output_throttle" />
    <rosparam subst_value="true">
      approximate_sync: true  
      target_frame_id: base_footprint
      queue_size: 100000
      publish_clouds: false
      sort_by: -cloud_size 
      use_pca: true
    </rosparam>
  </node>

  <!--
  <node name="image_cpi_decomposer"
        pkg="jsk_perception" type="image_cluster_indices_decomposer.py"
        output="screen">
    <remap from="~input" to="/kinect_head/rgb/image_rect_color"/>
    <remap from="~input/cluster_indices" to="/rects_to_cpi_ssd/output" />
  </node>-->

  <!--
  <node name="segmentation_decomposer" pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposer"
        output="screen">
    <remap from="~input" to="/plane_extraction/output" />
    <remap from="~target" to="/rects_to_cpi/output" />
    <rosparam subst_value="true">
      approximate_sync: true
      queue_size: 1000
      align_boxes: false
      align_boxes_with_plane: false
      use_pca: true
    </rosparam>
  </node>-->

  <!--
  <node name="cluster_point_indices_to_point_indices"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl_utils/ClusterPointIndicesToPointIndices">
    <remap from="~input" to="/rects_to_cpi_ssd/output"/>
    <rosparam>
      index: 0
    </rosparam>
  </node>

  <node name="extract_indices" pkg="jsk_pcl_ros" type="extract_indices">
    <remap from="~input" to="/kinect_head/depth_registered/points" />
    <remap from="~indices" to="/cluster_point_indices_to_point_indices/output"/>
    <rosparam>
      approximate_sync: true
    </rosparam>
  </node>-->

  <node name="pan_mask_polygon_pub" pkg="friedegg_generator" type="pan_mask_polygon.py"/>
  <node name="pan_surface_pub" pkg="friedegg_generator" type="pan_surface.py"/>

</launch>
