<launch>
  <rosparam param="/use_sim_time">true</rosparam>
  <arg name="length0" default="1.0" />
  <arg name="model" default="$(find pr2_description)/robots/pr2.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)  length:=$(arg length0) --inorder" />

  <node pkg="rosbag" type="play" name="player" output="screen"
      args="-l --clock $(find friedegg_generator)/bags/edge_detect.bag"/>
</launch>
